* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}

:root {
    /* Fundo */
    --bg-primary: #0F172A;
    /* Azul bem escuro (principal) */
    --bg-secondary: #1e293bec;
    /* Fundo secundário */

    /* Texto */
    --text-primary: #F8FAFC;
    /* Branco suave */
    --text-secondary: #CBD5F5;
    /* Cinza claro */

    /* Destaque */
    --accent-primary: #a07f12;
    /* Dourado sofisticado */
    --accent-secondary: #B8962E;
    /* Dourado mais escuro */

    /* Bordas e detalhes */
    --border-color: #334155;

    /* Hover */
    --hover-color: #1D4ED8;
    /* Azul mais vivo */
}

body {
    background: #002B36;

}

body p {
    font-size: 18px;
    color: var(--text-secondary);
}

body h2 {
    font-size: 28px;
    color: #F8FAFC;
    font-weight: 900;
    margin-bottom: 20px;
}

body h1 {
    color: #D4AF37;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 16px;

}

.navegacao {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 120px;
    background: rgba(15, 23, 42, 0.8);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    width: 100%;
    z-index: 1000;
    gap: 20px;

}

.imagemlogo {
    width: 180px;

}

.navegacao a {
    text-align: center;
    text-decoration: none;
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
    margin-right: 20px;
}

.navegacao a:hover {
    color: var(--text-secondary);
    text-decoration: underline;


}

.navegacao a.active {
    color: #D4AF37;
}
.btn {
    background: var(--accent-primary);
    color: var(--text-primary);
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    transition: transform 0.3s ease, background 0.3s ease;
    cursor: pointer;

}

.btn:hover {
    color: var(--text-secondary);
    transform: scale(1.1);
}

main {
    padding-top: 50px;
}

#QuemSomos {
    line-height: 1.7;
    max-width: 800px;
    padding: 80px 20px;
    margin: 0 auto;
    text-align: center;
}

#QuemSomos img {
    max-width: 150px;
    border-radius: 50%;
    padding: 5px 0 5px 0;
    border: 2px solid #D4AF37;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

#QuemSomos h3 {
    color: var(--text-secondary);
    font-weight: 800;
    padding: 0 10px 10px 0;

}

.text-secund {
    margin-top: 20px;
    background: var(--bg-secondary);
    padding: 30px;
    text-align: center;
    line-height: 1.05;


}

.text-secund p {
    margin: 0 0 20px 0;


}

.bg-video {
    margin-top: 100px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.Principal {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;

}

.text {
    text-align: center;
    align-items: center;
    padding: 30px;
    line-height: 1.6;

}

.text h1 {
    color: var(--text-secondary);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.6;

}


.cards {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.card {
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--bg-secondary);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 30px;
    border-radius: 12px;
    border: none;
    align-items: center;


}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.card h3 {
    text-align: center;
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.btn1 {
    text-align: center;
    background: #D4AF37;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn1:hover {
    text-decoration: underline;
    color: var(--text-secondary);
    transform: scale(1.1);

}

#Servico {
    text-align: center;

}

.cardsimg {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.cardimg {
    display: flex;
    flex-direction: column;
    /* 🔥 isso resolve */
    align-items: center;
    max-width: 300px;
}

.img-serv {
    max-width: 300px;
    border-radius: 4px;
}
.card, .cardimg {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.6s;}
    
.cardimg p {
    margin-top: 10px;
    line-height: 1.5;
}
.cardimg:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}
#Contato {
    line-height: 20px;
    text-align: center;
    padding: 60px;
}


.imgcontact {
    width: 20px;
    margin-right: 10px;
    border-radius: 12px;

}
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--bg-secondary);
    height: 50px;
}

footer p {
    font-size: 12px;
    font-weight: bold;
    lin
}

@media (max-width: 768px) {

    .navegacao {
        padding: 15px 20px;
        flex-direction: column;
        gap: 10px;
    }

    .cards {
        flex-direction: column;
    }

    .cardsimg {
        flex-direction: column;
        align-items: center;
    }

    .Principal {
        padding: 20px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .btn {
        width: 100%;
    }

    .imagemlogo {
        width: 140px;
    }
}